<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>
          <i class="material-icons">
            phone_iphone
          </i>
        </mat-icon>
        <h4 mat-line>Call me</h4>
        <a class='no-outline' target='_blank' href='tel:321-271-1384' mat-line> (321) 271-1384 </a>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>
          <i class="material-icons">
            mail_outline
          </i>
        </mat-icon>
        <h4 mat-line>Email Me</h4>
        <a class='no-outline' target='_blank' href='mailto:ejf1990@gmail.com' mat-line> ejf1990@gmail.com </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>

        <mat-icon mat-list-icon>
          <i class="material-icons">
            phonelink
          </i>
        </mat-icon>
        <h4 mat-line> Connect with me</h4>
        <a class='no-outline' target='_blank' href='https://www.linkedin.com/in/evan-freymiller-3a41164a/' mat-line> Linkedin</a>

      </mat-list-item>

    </mat-list>
  </div>
</div>