<!-- <div fxLayout="column" fxLayoutAlign="center center">
  <div fxFill fxLayout="column" fxLayoutAlign="center center">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>
          <i class="material-icons">
            phone_iphone
          </i>
        </mat-icon>
        <h4 mat-line>Call me</h4>
        <a class='no-outline' target='_blank' href='tel:321-271-1384' mat-line> (321) 271-1384 </a>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>
          <i class="material-icons">
            mail_outline
          </i>
        </mat-icon>
        <h4 mat-line>Email Me</h4>
        <a class='no-outline' target='_blank' href='mailto:ejf1990@gmail.com' mat-line> ejf1990@gmail.com </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>

        <mat-icon mat-list-icon>
          <i class="material-icons">
            phonelink
          </i>
        </mat-icon>
        <h4 mat-line> Connect with me</h4>
        <a class='no-outline' target='_blank' href='https://www.linkedin.com/in/evan-freymiller-3a41164a/' mat-line> Linkedin</a>

      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>
          <i class="material-icons">
            fingerprint
          </i>
        </mat-icon>
        <h4 mat-line> Resumé</h4>
        <a class='no-outline' target='_blank' href='../../assets/evanfreymiller2018resume.pdf' mat-line> Evan Freymiller</a>
      </mat-list-item>
    </mat-list>
  </div>
</div> -->


<mat-nav-list>
  <mat-divider></mat-divider>
  <a class='no-outline' target='_blank' href='tel:321-271-1384' mat-line>
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i class="material-icons">
            call
        </i>
      </mat-icon>
      <h4 mat-line>Call me</h4>
      <p mat-line>(321) 271-1384</p>      
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a class='no-outline' target='_blank' href='mailto:ejf1990@gmail.com' mat-line>
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i class="material-icons">
            alternate_email
        </i>
      </mat-icon>
      <h4 mat-line>Email Me</h4>
      <p mat-line>ejf1990@gmail.com</p>
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a class='no-outline' target='_blank' href='https://www.linkedin.com/in/evan-freymiller-3a41164a/' mat-line>
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i class="material-icons">
            attach_file
        </i>
      </mat-icon>
      <h4 mat-line> Connect with me</h4>
      <p mat-line>Linkedin</p>
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a class='no-outline' target='_blank' href='/resume'>
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i class="material-icons">
          fingerprint
        </i>
      </mat-icon>
      <h4 mat-line> Evan Freymiller</h4>
      <p mat-line>Resumé</p>

    </mat-list-item>
  </a>
  <a class='no-outline' target='_blank' href='/resume/print'>
    <mat-list-item>
      <mat-icon mat-list-icon>
        <i class="material-icons">
          print
        </i>
      </mat-icon>
      <h4 mat-line> Evan Freymiller</h4>
      <p mat-line>Printable Resumé</p>

    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>